@use "src/app/main";

.quote-box {
  box-sizing: border-box;
  max-width: 850px;
  min-width: 320px;
  margin: 150px 0;
  border-left: 20px solid lighten(main.$green-background-color, 30%);

  .quote {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px 10px 30px;
    position: relative;
    text-align: justify;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5em;
    // white-space: pre;

    cite {
      font-size: 0.6em;
      font-weight: 500;
      color: main.$color-grey2;

      &:before {
        content: '\2015';
      }
    }

    &:after {
      font-family: 'Della Respira', serif;
      content: '\201D';
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 27rem;
      color: lighten(main.$green-background-color, 30%);
      z-index: -1;
    }
  }

  @media (max-width: 1010px) {
    blockquote {
      font-size: 1.5rem !important;

      &:after {
        font-size: 23rem !important;
      }
    }
  }

  @media (max-width: 715px) {
    blockquote {
      font-size: 1.3rem !important;

      &::after {
        font-size: 20rem !important;
      }
    }
  }

  @media (max-width: 600px) {
    blockquote {
      font-size: 1.2rem !important;

      &::after {
        font-size: 18rem !important;
      }
    }
  }

  @media (max-width: 575px) {
    blockquote {
      font-size: 1rem !important;

      &::after {
        font-size: 16rem !important;
      }
    }
  }

  @media (max-width: 350px) {
    blockquote {
      font-size: 0.9rem !important;

      &::after {
        font-size: 20rem !important;
      }
    }
  }

}
