.flip-coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.turnPlayerOne, .turnPlayerTwo {
    height: 90px;
    width: 90px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px black;
}

.turnPlayerOne {
    background-image:linear-gradient(-50deg, blue, transparent);
}

.turnPlayerTwo {
    background-image:linear-gradient(-50deg, red, transparent);
}
