@use "src/app/main";

button {
  font-size: 35px;
  font-weight: 800;
  padding: 5px 25px;
  border: none;
  outline: none;
  margin: 45px 0;
  background-color: main.$color-pink;
  color: main.$color-white;

  &:hover, &:active {
    color: main.$color-pink;
    background-color: main.$color-white;
    cursor: pointer;
    box-shadow: 0 0 5px main.$color-grey2;
  }

  @media (max-width: 1198px) {
    font-size: 30px;
  }

  @media (max-width: 745px) {
    font-size: 25px;
  }
}
