<div class="header-background">

  <h1 (click)="toggleNav()" [class.hidden]="changeHeader">
    MANDY BLASCHKE
  </h1>

  <h1 (click)="toggleNav()" [class.hidden]="!changeHeader" class="ham">
      ☰
  </h1>

</div>

<div class="navigation"
     [class.fade-in]="showNav"
     [class.fade-out]="!showNav && navOnceOpened"
     *ngIf="navOnceOpened"
>

  <h1 (click)="toStart()">Startseite</h1>
  <h1 [routerLink]="'/portfolio'">Portfolio</h1>
  <h1 [routerLink]="'/leben'">Leben</h1>
  <h1 (click)="toContact()">Kontakt</h1>

</div>

