@use "src/app/main";

.header-background {
  box-sizing: border-box;
  height: 125px;
  padding: 35px 0 0 35px;
  @include main.header;

  h1 {
    margin: 0;
    color: main.$color-white;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px main.$color-grey2;

    &:active, &:hover {
      color: main.$color-pink;
      text-shadow: 1px 1px 2px main.$color-white;
    }

    @media (max-width: 520px) {
      font-size: 35px;
    }
  }
}

.navigation {
  width: 360px;
  position: fixed;
  z-index: -20;
  box-sizing: border-box;
  transform: translateY(-50px);
  padding: 45px 25px 25px 35px;
  background-color: rgba(64, 187, 118, 0.6);
  backdrop-filter: blur(3px);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
  color: main.$color-white;
  text-shadow: 1px 1px 2px main.$color-grey2;
  animation: fade 1s cubic-bezier(.5, -0.55, .57, 1.49);

  h1 {
    outline: none;

    &:active, &:hover {
      color: main.$color-pink;
    }
  }

  @media (max-width: 520px) {
    width: 330px;
  }
}


@keyframes fade {
  0% {
    transform: translateY(-500px) translateX(-500px) rotate(45deg);
  }
  100% {
    transform: translateY(-50px) rotate(0deg);
  }
}
