@use "src/app/main";

section {
  @include main.section-standards;

  .pic {
    width: 40%;
    background-image: url("~src/assets/Mandy.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    box-sizing: border-box;
    padding: 10%;

    h1 {
      font-size: main.$main-page-header-font-size;
    }

    p {
      font-size: main.$main-page-font-size;
      text-align: start;
    }

    .arrow {
      text-align: center;
      color: #40BB76;
      animation: arrow infinite 1s;
      text-shadow: 2px 2px 2px main.$color-grey2;
      user-select: none;
    }
  }

  @media (max-width: 1100px) {
    p {
      font-size: 20px;
    }
    h1 {
      font-size: 45px;
    }
  }

  @media (max-width: 950px) {
    .pic {
      background-position: center;
    }
  }

  @media (max-width: 460px) {
    h1 {
      font-size: 35px;
    }
  }

  @media (max-width: 650px) {
    flex-direction: column;
    margin-top: 150px;

    .pic {
      height: 350px;
      width: 100%;
      background-position: center;
    }

    .text {
      width: 100%;
      text-align: center;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px) scale(1.1);
  }
  100% {
    transform: translateY(0);
  }
}
