<main>

    <div class="card">

      <div class="image">
        <img src="assets/Mandy.webp" alt="Foto Mandy">
      </div>

      <div class="text">
        <h1>Hallo!</h1>
        <p>Ich bin Mandy Blaschke, <strong>staatlich geprüfte Betriebswirtin</strong>, die einen Neuanfang wagt.</p>
        <p>Seit Ende des Jahres 2019 lerne ich <strong>Web Development</strong>.</p>
        <p>
          Ich möchte als <strong>Frontend Entwicklerin</strong> arbeiten und wünsche mir dabei nicht das "große Geld", sondern möchte in
          einem Unternehmen arbeiten, wo Teamarbeit und Menschlichkeit im Fokus stehen.
        </p>
        <p>
          Meine Gehaltsvorstellung beläuft sich auf <strong>etwa 30.000,-€ pro Jahr</strong>, da mein Fokus aktuell darauf liegt,
          Berufserfahrungen zu sammeln und meine Fähigkeiten zu erweitern.
        </p>
      </div>

    </div>

</main>
