@use "src/app/main";

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    box-sizing: border-box;
    width: 350px;
    height: fit-content;
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px main.$color-grey2;

    .preview {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 150px;
      background-color: #AADBC2;
    }

    .text {
      padding: 15px 25px;

      .description {
        min-height: 160px;
      }

      .tags {
        font-size: 0.8rem;
        font-style: italic;
      }
    }

    .links {
      justify-self: end;
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
    }
  }
}
