<div class="tag-filter">
  <div class="tag-box">
    <div *ngFor="let tag of filterTags">
      <p (click)="filterProjectsByTag(tag)"
         class="tag"
         [class.activeTag]="tag === activeTag"
      >
        {{tag}}
      </p>
    </div>
  </div>

  <div class="bottom"></div>
</div>


<div class="card-box">

  <div class="card" *ngFor="let archived of projectsToShow">

    <div class="preview" [style.backgroundImage]="'url(' + archived.preview + ')'">
    </div>

    <div class="text">
      <h2>{{archived.title}}</h2>
      <p class="description">{{archived.description}}</p>
      <p class="tags">{{archived.tags.join(', ')}}</p>
    </div>

    <div class="links">
      <a href="{{archived.url}}" target="_blank">
        <app-button>Projekt ansehen</app-button>
      </a>

      <a href="{{archived.gitUrl}}" target="_blank">
        <app-button>Github Repository</app-button>
      </a>
    </div>

  </div>

</div>
