/* You can add global styles to this file, and also import other style files */
@use "app/main";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');


body {
  margin: 0;
  background-color: main.$color-white;
  color: main.$main-text-color;
}

body, h1, h2, p, button, a {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  margin: 0.5em 0;
}

p {
  font-weight: 500;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: main.$color-pink;
  font-weight: 700;
}
