@use "src/app/main";

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

section {
  @include main.section-standards;
  flex-direction: column;
  align-items: center;
  margin: 130px 0 25px 0;


  .wideMedia {
    display: contents;

    @media (max-width: 640px) {
      display: none;
    }


    .arrow {
      background-color: #AADBC2;
      height: 50px;
      width: 50px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      animation: scaling infinite 3s linear;
      animation-delay: 2s;
    }

    .cv-box-wide {
      display: flex;
      max-width: 850px;

      .left-box {
        border-right: 5px solid #AADBC2;
      }

      .stations {
        display: flex;
        flex-direction: column;
        width: 50%;

        .line {
          height: 5px;
          width: 380px;
          background-color: #AADBC2;
        }

        .left, .right {
          position: relative;
          box-sizing: content-box;
          height: 200px;
          max-width: 350px;
          padding: 15px;
          margin: 15px;
          box-shadow: 0 0 15px main.$color-grey1;

          &.shown {
            height: fit-content;
          }

          .banner {
            @include main.banner;
          }

          .toggle {
            @include main.toggle-description;
          }

          h2 {
            color: main.$color-green1;
          }

          h3 {
            color: lighten(main.$color-green1, 15%);
          }

          .description {
            text-align: justify;
          }

          .date {
            font-size: 0.8rem;
          }
        }

        .right {
          margin-top: 55px;

          .line {
            transform: translateX(-33px);
          }
        }
      }

      @media (max-width: 810px) {

        .left, .right {
          width: 310px;
        }

        .line {
          width: 341px !important;
        }
      }

      @media (max-width: 740px) {

        .left, .right {
          width: 260px;
        }

        .line {
          width: 291px !important;
        }
      }
    }
  }

  .smallMedia {
    @media(min-width: 640px) {
      display: none;
    }

    .arrow-box {
      display: flex;
      justify-content: flex-end;

      .arrow {
        background-color: #AADBC2;
        height: 55px;
        width: 55px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        animation: scaling infinite 3s linear;
        animation-delay: 2s;
      }
    }

    .cv-box-small {
      display: flex;
      max-width: 850px;

      .stations {
        display: flex;
        flex-direction: column;
        width: 90%;
        border-right: 5px solid #AADBC2;

        .station {
          position: relative;
          box-sizing: content-box;
          height: 220px;
          max-width: 250px;
          padding: 15px;
          margin: 15px;
          box-shadow: 0 0 15px main.$color-grey1;


          &.shown {
            height: fit-content;
          }
        }

        .line {
          height: 5px;
          width: 100%;
          background-color: #AADBC2;
        }

        .banner {
          @include main.banner;
        }

        .toggle {
          @include main.toggle-description;
        }

        h2 {
          color: main.$color-green1;
        }

        h3 {
          color: lighten(main.$color-green1, 15%);
        }

        .description {
          text-align: justify;
        }

        .date {
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: 640px) {
      .line {
        width: 255px !important;
      }
    }
  }
}


// bis 640px

@keyframes scaling {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.4) translateY(-5px);
  }
  100% {
    transform: scale(1);
  }
}
