@use "src/app/main";

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

section {
  @include main.section-standards;
  flex-direction: column;
  align-items: center;
  margin: 130px 0 25px 0;

  .arrow {
    background-color: #AADBC2;
    height: 50px;
    width: 50px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: scaling infinite 3s linear;
    animation-delay: 2s;
  }

  .cv-box {
    display: flex;
    max-width: 850px;

    .left-box {
      border-right: 5px solid #AADBC2;
    }

    .stations {
      display: flex;
      flex-direction: column;
      width: 50%;

      .line {
        height: 5px;
        width: 380px;
        background-color: #AADBC2;
      }

      .left, .right {
        position: relative;
        box-sizing: content-box;
        height: 200px;
        max-width: 350px;
        padding: 15px;
        margin: 15px;
        box-shadow: 0 0 15px main.$color-grey1;

        &.shown {
          height: fit-content;
        }

        .banner {
          position: absolute;
          top: 0;
          right: 0;
          width: 100px;
          height: 60px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          overflow: hidden;

          a {
            transform: translate(35px, 10px) rotate(30deg);
            padding: 2px 40px;
            background-color: rgba(199, 29, 123, 0.8);
            color: #f8f8ff;

            &:hover, &:active {
              cursor: pointer;
              background-color: main.$color-white;
              color: main.$color-pink;
              box-shadow: 0 0 3px main.$color-pink;
            }
          }
        }

        .toggle {
          p {
            display: inline-block;
            margin: 25px 0;
            font-weight: 700;
            color: main.$color-pink;
            user-select: none;

            &:hover, &:active {
              padding: 0 5px;
              cursor: pointer;
              background-color: main.$color-pink;
              color: main.$color-white;
            }
          }
        }

        h2 {
          color: main.$color-green1;
        }

        h3 {
          color: lighten(main.$color-green1, 15%);
        }

        .description {
          text-align: justify;
        }

        .date {
          font-size: 0.8rem;
        }
      }

      .right {
        margin-top: 55px;

        .line {
          transform: translateX(-33px);
        }
      }
    }
  }
}

@keyframes scaling {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.4) translateY(-5px);
  }
  100% {
    transform: scale(1);
  }
}
